OPENAI_API_KEY=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
SUPABASE_URL=https://xzqmunxbmoiuinyampsl.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh6cW11bnhibW9pdWlueWFtcHNsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NzA4MzU3NCwiZXhwIjoyMDYyNjU5NTc0fQ.6B-ISJFCdcRAQOMxRW5pnyY3vF7ysuQBR1ssJ-Hlqdc
